{% extends 'base.html' %}

{% block title %}
    <title>login</title>
    <style>
   table {
    width: 400px; /* Ширина таблицы в процентах */
   }
   .col1 {
    width: 200px; /* Ширина ячейки */
   }
  </style>
{% endblock %}

{% block body %}
<div class="container">

        <h1>Login page</h1>
        <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
         {% for message in messages %}
             {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}
        </p>
<form method="post" autocomplete="off">
    <table style="column-gap: 50px">
        <tr>
            <td>Login</td>
            <td><input type="text" name="login"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('register') }}">Register</a> </td>
            <td><input type="submit" name="sub" value="Log in"></td>
        </tr>
    </table>
</form>
{% endblock %}
</div>