{% extends 'base.html' %}

{% block title %}
  <title>Another site where you get scammed</title>
{% endblock %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Defx weapons</h1>
  <div class="container">
    <form method="post" name="search">
      <br>
      <table>
        <tr>
          <td>
            <input type="text" class="form-control" name="title" id="title" placeholder="поиск по названию" size="1000px" style="height:50px">
          </td>
          <td>
            <a class="btn btn-lg btn-block btn-outline-primary" href="/" style="height:50px;width:100px">clear</a>
          </td>
        </tr>
      </table><br>
    </form>
  </div>


  <p class="lead">No results were found for your search. Try again.</p>
</div>

<div class="container">
    {% endblock %}
</div>


