<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .notesheet{
   background-color: rgb(224, 214, 67);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin-top: 300px;
   border:none;
   outline: none;
   box-shadow:0 0 10px #9c9898;
   border-radius: 15px;
   height: 300px;
   width: 500px;
}
    </style>
</head>
<body>
    <form method="post">
        <textarea class="notesheet" name="y" onclick="try_y"></textarea>
        <button type="submit">ok</button>
    </form>
</body>
</html>